<style>

  .editor {
        width: 100%;
        height: 38em;
        margin: 0;
        font-size: 1em;
        line-height: 0.9;
  }

  .selected {
    color:#fff;
  }

  .menu {
        list-style-type: none;
        font-size: small;
        margin:0;
        padding: 0 1em;
        color:#333;
  }

  .highlighter {
    line-height: 1;
    font-size: small;
  }

  button:hover, button:focus, .button:hover, .button:focus {
    background-color: transparent;
    color:#999;
  }

  .menuitem a:hover{
    background-color: #0078a0;
    color:#fff;
  }
  .menuitem i {
    margin: 0 0.5em 0 0;
  }
  .menusection {
    border-bottom:1px solid #ddd;
  }
  
  .menubutton i:hover{
    color:#000;
  }



md-menu-bar button {
    font-size: 14px;
    padding: 0 10px;
    margin: 0;
    border: 0;
    background-color: transparent;
    height: 40px;
    color:#999;
} 

.menuBardemoBasicUsage .page-container {
  padding: 32px; }

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25); }

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem; 
}

.result-preview {

  margin: 0; 
  padding: 0.1em; 
  border-top: 1px solid #e7e7e7;
  width: 100%;
  height: 10em;
  overflow: auto;
}

md-toolbar.status-bar {
    background: #e7e7e7;
    color: #777;
    min-height: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

md-toolbar.status-bar div.md-toolbar-tools {
    height: auto;
    font-size: 12px;
    min-height: 0;
    padding: 0.1em 1em;
}    

md-toolbar.status-bar div.md-toolbar-tools span {
    padding: 0 1em;
    border-right: 1px solid #999;
}


</style>


<div class="row" ng-controller="ScriptSuiteController as ctrl"
     ng-show = "globalConfig.designMode"  
     style="padding: 0; margin: 0;"
>

  <script type="text/ng-template" id="sn_renderer">

    <md-menu ng-if="sn.childs">
      <button  ng-click="$mdMenu.open()">
        {{sn.title}}
      </button>
      <md-menu-content>
        <md-menu-item ng-repeat="sn in sn.childs" ng-include="sn_renderer">
        </md-menu-item>  
      </md-menu-content>
    </md-menu>
    
    <button ng-if="!sn.childs" ng-click="insertSnippet(sn.code)">
        {{sn.title}}
    </button>
    
    <md-menu>
      <button  ng-click="$mdMenu.open()">
        {{sn.title}}
      </button>
      <md-menu-content>
        <md-menu-item ng-repeat="sn in sn.childs" ng-include="sn_renderer">
        </md-menu-item>  
      </md-menu-content>
    </md-menu>
    

  </script>  


 <script type="text/ng-template" id="static">

    <md-menu>
      <button  ng-click="$mdMenu.open()">
        Static
      </button>
      <md-menu-content>
        <md-menu-item>
          <button>1</button>
        </md-menu-item>  
        <md-menu-item>
          <button>2</button>
        </md-menu-item>  
        
      </md-menu-content>
    </md-menu>
    
      

  </script>  


  <md-toolbar class="md-menu-toolbar" style="min-height: 1.5em;">


    

      
    <div layout="row">
      <div>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Script
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="openScript('newScript')">
                  New...
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdMenu.open()">Open</md-button>
                  <md-menu-content>
                    <md-menu-item ng-repeat="s in scripts">
                        <md-button ng-click="openScript(s.name)">
                          {{s.name}}
                        </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="runScript()">
                  Run {{tabs[currentScriptIndex].name}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Insert
            </button>
            <md-menu-content>
              <md-menu-item ng-repeat="sn in dpsSnippets[0].childs"> <!-- ng-include="sn_renderer"> -->
                <md-button>
                  <md-icon class="fa-check" style="font-family: FontAwesome;" md-menu-align-target></md-icon>
                  {{sn.title}}
                </md-button>
              </md-menu-item>  
            </md-menu-content>
          </md-menu>
          
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Data
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="appendFile()">
                  Append Data File
                </md-button>
              </md-menu-item>  
            </md-menu-content>
          </md-menu>

          <md-menu>
            <button ng-click="$mdMenu.open()">
              Static
            </button>
            <md-menu-content ng-inclide="static">
              <md-menu>
                <button  ng-click="$mdMenu.open()">
                  Static
                </button>
                <md-menu-content>
                  <md-menu-item>
                    <button>1</button>
                  </md-menu-item>  
                  <md-menu-item>
                    <button>2</button>
                  </md-menu-item>  
                  
                </md-menu-content>
              </md-menu>
            </md-menu-content>      
          </md-menu>  
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>


  <md-content>

        <md-tabs md-dynamic-height  md-border-bottom md-selected="currentScriptIndex">
          
          <md-tab   md-on-select="selectTab(s.name)" 
                    ng-repeat="s in tabs"
          >
            <md-tab-label>
              {{s.name}}
              <button class="md-button md-icon-button md-mini" 
                      style="margin:0;"
                      ng-click="closeScript(s.name)"
              >
                <md-icon  ng-if="!s.state.change" md-font-icon="fa-times-circle" style="font-family: FontAwesome;">
                </md-icon>
                <md-icon  ng-if="s.state.change" md-font-icon="fa-circle" style="font-family: FontAwesome;">
                </md-icon>        
              </button> 
            </md-tab-label>  
            <md-tab-body class="md-padding" layout="column">
              <section layout="row" flex style="border-bottom: 1px solid #e7e7e7;">    
            <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                style="position: relative;"
                md-disable-backdrop 
                md-is-open = "true"
                md-whiteframe="4"
            >

              <!-- <md-toolbar class="md-accent" style=" min-height: 36px; max-height: 32px;">
                <div class="md-toolbar-tools">Snippets</div>
              </md-toolbar> -->
              <md-content>
                <script type="text/ng-template" id="nodes_renderer.html">
                  
                  <div ng-if="node.childs" 
                    ng-click="toggle(this)" 
                    style="font-size:14px;font-weight: bold; cursor: pointer; outline: none;"
                  >
                    {{node.title}}
                    <md-icon  md-font-icon="{{(collapsed)?'fa-angle-right':'fa-angle-down'}}" 
                            style="font-family: FontAwesome;">
                    </md-icon>
                  </div>

                  <a ng-if="!node.childs" 
                    ng-click="insertSnippet(node.code)" 
                    style=" font-size: 12px; min-height: 16px; line-height: 16px;"
                  >
                    {{node.title}}
                  </a>
                  
                  <ol ui-tree-nodes="" ng-model="node.childs" ng-class="{hidden: collapsed}">
                    <li ng-repeat="node in node.childs" ui-tree-node data-nodrag collapsed="true" ng-include="'nodes_renderer.html'">
                    </li>
                  </ol>
                </script>

                <div ui-tree>
                  <ol ui-tree-nodes="" ng-model="dpsSnippets" id="tree-root">
                    <li ng-repeat="node in dpsSnippets" ui-tree-node data-nodrag  ng-include="'nodes_renderer.html'"></li>
                  </ol>
                </div>
               
              </md-content>

            </md-sidenav>
            
            <div  class= "editor"
                    ng-ace
                    data="s.script" 
                    options = "options"
                    >
              </div>
        </section>
               
               
              <div>
                <md-toolbar class="status-bar">
                  <div class="md-toolbar-tools">

                    <span> Script: {{s.name}}</span>
                    <span> Data processing service: {{dataProcessingServer}} </span>
                    <span> {{s.state}}</span>
                    <span> Type: {{s.result.type}} </span>
                    
                  </div>
                </md-toolbar>
              </div>  

              <div class="result-preview">
                <highlight settings="s.result"></highlight>
              </div>  
            </md-tab-body>
          </md-tab>
        
        </md-tabs>

  </md-content>


</div>            

<!-- 
  <h5>DPS Suite on <span style="color: #008cba;
    border: 1px solid #008cba;
    /* background: #e7e7e7; */
    padding: 0.3em 0.5em;
    font-style: italic;
    margin: 0 0.5em;">{{dataProcessingServer}}</span>
    <div class="column-6" style="
      float: right; 
      padding: 0.2em;    
      "
    >
      <div style="position:relative;">
        <div style="
            position: absolute;
            border: {{(!collapsed)?'1px solid #ddd;':'none;'}}
            box-shadow: {{(!collapsed)?'4px 4px 6px -4px #333333;':'none;'}}
            background-color:{{(!collapsed)?'#f9f9f9;':'#fff;'}}
            right: 0;
            left: auto;
            min-width: 14em;
            padding: 0 0.25em;
            z-index: 400;
        ">
          <div  class="row  menubutton" 
                style="margin:0; cursor:pointer;" 
                ng-click="collapsed = !collapsed"
          >
            <span class="right" style="font-size: small; padding: 0.2em;">MENU</span>
            <i class="fi-list" style="float:right;"/>
          </div>  
          <div ng-if="!collapsed" class="row" style="margin:0;">
              <ul class="menu">
                <li ng-if="!processed" ng-click="addScript()" class="menuitem">
                  <a>
                     <i class="fi-plus"/>Add script...
                  </a>
                </li>
                <li ng-if="selected && !processed" ng-click="runScript()" class="menuitem">
                  <a>
                     <i class="fi-play"/>Run "{{selected}}"
                  </a>
                </li>

                <li ng-if="selected && processed" ng-click="cancelProcess()" class="menuitem">
                  <a>
                     <i class="fi-x"/>Cancel process "{{selected}}"
                  </a>
                </li>
                
                <li ng-if="selected && notSaved && !processed" ng-click="saveScript()" class="menuitem">
                  <a>
                     <i class="fi-save"/>Save "{{selected}}"
                  </a>
                </li>
                <li ng-if="selected && !processed" ng-click="renameScript()" class="menuitem">
                  <a>
                     <i class="fi-page-edit"/>Rename "{{selected}}"...
                  </a>
                </li>
                <li ng-if="selected && !processed" ng-click="deleteScript()" class="menuitem">
                  <a>
                     <i class="fi-trash"/>Delete "{{selected}}"...
                  </a>
                </li>
                 <li><a> </a></li>
              </ul>
          </div>
        </div>  
      </div>
    </div> 
 </h5>
 <hr style="margin:0.2em 0;"/>   

 <div class="column medium-2 left" style="margin:0; padding: 0 0.25em 0 0.5em;">
    
    <div  class="row" style="margin:0; padding:0;font-size:small;">
        <pre>Script:</pre>
    </div>
 
    <div class="row" style="margin:0;border: 1px solid #999;height:32em; overflow:auto;">
      <div ng-repeat="name in widget.script track by $index">
        <div 
          ng-class="classed($index)" 
          style="margin:0;padding:0 0.2em;cursor:pointer;font-size:small; font-stretch: extra-condensed;" 
          ng-click="select(keys(widget.script)[$index])" >
            {{keys(widget.script)[$index]}} <span class="right" ng-if="classed($index)=='row selected' && notSaved" style="font-size:x-small">(not saved)</span>
        </div>
      </div> 
    </div>
  </div>

  <div class="column medium-10 left" style="margin:0; padding:0 0.5em 0 0;">
    <div ng-if="selected">
      <div  class="row" style="margin:0; padding:0;font-size:small;">
        <pre>{{selected}} <span ng-if="selected && notSaved" style="font-size:x-small">(not saved)</span> <span ng-if="processed" style="font-size:x-small">(processed...)</span><span ng-if="successed" style="font-size:x-small">(successed)</span><span ng-if="rejected" style="font-size:x-small">(rejected)</span></pre>
      </div>
      <div  class="row"
             style="padding: 0.1rem; border: 1px solid #aaa; margin:0; height:{{(widget.height || 32)+'em'}}; overflow:auto;">
        
        <div  class= "editor"
              ng-ace
              data="script" 
              options = "options"
              >
        </div>
      </div>
    </div>  
  </div>
</div> -->

