<style>

  .editor {
        width: 100%;
        height: 38em;
        margin: 0;
        font-size: 1em;
        line-height: 0.9;
  }

  .selected {
    color:#fff;
  }

  .menu {
        list-style-type: none;
        font-size: small;
        margin:0;
        padding: 0 1em;
        color:#333;
  }

  .highlighter {
    line-height: 1;
    font-size: small;
  }

  button:hover, button:focus, .button:hover, .button:focus {
    background-color: transparent;
    color:#999;
  }

  .menuitem a:hover{
    background-color: #0078a0;
    color:#fff;
  }
  .menuitem i {
    margin: 0 0.5em 0 0;
  }
  .menusection {
    border-bottom:1px solid #ddd;
  }
  
  .menubutton i:hover{
    color:#000;
  }



md-menu-bar button {
    font-size: 14px;
    padding: 0 10px;
    margin: 0;
    border: 0;
    background-color: transparent;
    height: 40px;
    color:#999;
} 

.menuBardemoBasicUsage .page-container {
  padding: 32px; }

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25); }

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem; 
}

.result-preview {

  margin: 0; 
  padding: 0.1em; 
  border-top: 1px solid #e7e7e7;
  width: 100%;
  height: 10em;
  overflow: auto;
}

md-toolbar.status-bar {
    background: #e7e7e7;
    color: #777;
    min-height: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

md-toolbar.status-bar div.md-toolbar-tools {
    height: auto;
    font-size: 12px;
    min-height: 0;
    padding: 0.1em 1em;
}    

md-toolbar.status-bar div.md-toolbar-tools span {
    padding: 0 1em;
    border-right: 1px solid #999;
}


</style>


<div class="row" ng-controller="ScriptSuiteController"
     ng-show = "globalConfig.designMode"  
     style="padding: 0; margin: 0;"
>
  <h5>DPS Suite on <span style="color: #008cba;
    border: 1px solid #008cba;
    /* background: #e7e7e7; */
    padding: 0.3em 0.5em;
    font-style: italic;
    margin: 0 0.5em;">{{dataProcessingServer}}</span>
    <div class="column-6" style="
      float: right; 
      padding: 0.2em;    
      "
    >
      <div style="position:relative;">
        <div style="
            position: absolute;
            border: {{(!collapsed)?'1px solid #ddd;':'none;'}}
            box-shadow: {{(!collapsed)?'4px 4px 6px -4px #333333;':'none;'}}
            background-color:{{(!collapsed)?'#f9f9f9;':'#fff;'}}
            right: 0;
            left: auto;
            min-width: 14em;
            padding: 0 0.25em;
            z-index: 400;
        ">
          <div  class="row  menubutton" 
                style="margin:0; cursor:pointer;" 
                ng-click="collapsed = !collapsed"
          >
            <span class="right" style="font-size: small; padding: 0.2em;">MENU</span>
            <i class="fi-list" style="float:right;"/>
          </div>  
          <div ng-if="!collapsed" class="row" style="margin:0;">
              <ul class="menu">
                <li ng-if="!processed" ng-click="addScript()" class="menuitem">
                  <a>
                     <i class="fi-plus"/>Add script...
                  </a>
                </li>
                <li ng-if="selected && !processed" ng-click="runScript()" class="menuitem">
                  <a>
                     <i class="fi-play"/>Run "{{selected}}"
                  </a>
                </li>

                <li ng-if="selected && processed" ng-click="cancelProcess()" class="menuitem">
                  <a>
                     <i class="fi-x"/>Cancel process "{{selected}}"
                  </a>
                </li>
                
                <li ng-if="selected && notSaved && !processed" ng-click="saveScript()" class="menuitem">
                  <a>
                     <i class="fi-save"/>Save "{{selected}}"
                  </a>
                </li>
                <li ng-if="selected && !processed" ng-click="renameScript()" class="menuitem">
                  <a>
                     <i class="fi-page-edit"/>Rename "{{selected}}"...
                  </a>
                </li>
                <li ng-if="selected && !processed" ng-click="deleteScript()" class="menuitem">
                  <a>
                     <i class="fi-trash"/>Delete "{{selected}}"...
                  </a>
                </li>
                 <li><a> </a></li>
              </ul>
          </div>
        </div>  
      </div>
    </div> 
 </h5>
 <hr style="margin:0.2em 0;"/>   

 <div class="column medium-2 left" style="margin:0; padding: 0 0.25em 0 0.5em;">
    
    <div  class="row" style="margin:0; padding:0;font-size:small;">
        <pre>Script:</pre>
    </div>
 
    <div class="row" style="margin:0;border: 1px solid #999;height:32em; overflow:auto;">
      <div ng-repeat="name in widget.script track by $index">
        <div 
          ng-class="classed($index)" 
          style="margin:0;padding:0 0.2em;cursor:pointer;font-size:small; font-stretch: extra-condensed;" 
          ng-click="select(keys(widget.script)[$index])" >
            {{keys(widget.script)[$index]}} <span class="right" ng-if="classed($index)=='row selected' && notSaved" style="font-size:x-small">(not saved)</span>
        </div>
      </div> 
    </div>
  </div>

  <div class="column medium-10 left" style="margin:0; padding:0 0.5em 0 0;">
    <div ng-if="selected">
      <div  class="row" style="margin:0; padding:0;font-size:small;">
        <div class="column medium-2 left">
          <pre>{{selected}} <span ng-if="selected && notSaved" style="font-size:x-small">(not saved)</span> <span ng-if="processed" style="font-size:x-small">(processed...)</span><span ng-if="successed" style="font-size:x-small">(successed)</span><span ng-if="rejected" style="font-size:x-small">(rejected)</span>
          </pre>
        </div>
        <div class="column">
          <span>File: {{(selectedFile)?selectedFile:'no selected'}}</span>
          <button class="toolbar right">Edit</button>
        </div>  

      </div>

      
      <div  class="row"
             style="padding: 0.1rem; border: 1px solid #aaa; margin:0; height:{{(widget.height || 32)+'em'}}; overflow:auto;">
        
        <div  class= "editor"
              ng-ace
              data="script" 
              options = "options"
              >
        </div>
      </div>
    </div>  
  </div>
</div> 

