<style>
  table {
    margin-bottom: 0;
  }
  /*.md-virtual-repeat-container {
    border: 1px solid #ddd;
    width:100%;
  }*/
</style>


<div class="row" ng-controller="FormQuestionController" style="padding: 0; margin: 0;">
  <div  ng-cloak 
        ng-if="globalConfig.designMode">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        
        <md-tab>
          <md-tab-label>
            <widget-translate>
              General
            </widget-translate>
          </md-tab-label>
          <md-tab-body class="md-padding">
           
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">
                     <widget-translate>
                        General Options
                      </widget-translate>
                    </span>
                    </md-card-title-text>
                  </md-card-title>
                  
                  <md-card-content>
                    
                    <md-input-container style="padding-bottom: 2em;">
                      <label>
                        <widget-translate>Question type</widget-translate>
                      </label>
                      <md-select 
                        ng-model="qtype"
                        ng-change="selectQtype(qtype)"
                      >
                        <md-option  ng-repeat="q in questionTypes" value="{{q.type.value}}">
                          <md-icon  md-font-icon="{{q.widget.css}}"
                                    style=" font-family: FontAwesome; 
                                            font-size: 1.2em;
                                            margin-right: 0.25em;"
                            >
                          </md-icon>
                         
                          {{'WIDGET.V2.FORM.QUESTION.'+q.type.title | translate}}
                          
                        </md-option>
                      </md-select>

                    </md-input-container> 

                    <md-switch  ng-model="config.state.options.required" 
                                class="md-primary"
                                style="padding-bottom: 2em;"
                    >
                      <div layout="column">
                        <span>
                          <widget-translate>Required</widget-translate>
                        </span>  
                        <span style="font-size: 12px; color: #999;">
                            {{'WIDGET.V2.FORM.QUESTION.'+((config.state.options.required) ? 'Validate response': 'Not validate response') | translate}}
                        </span>  
                      </div>
                    </md-switch>

                    <md-switch  ng-model="config.state.options.showResponsesStat" 
                                class="md-primary"
                    >
                      <div layout="column">
                        <span>
                          <widget-translate>Statistical hints</widget-translate>
                        </span>  
                        <span style="font-size: 12px; color: #999;">
                            {{'WIDGET.V2.FORM.QUESTION.'+((config.state.options.showResponsesStat) ? 'Response Stat': 'Not Response Stat') | translate}}
                        </span>  
                      </div>
                    </md-switch>

                  </md-card-content>

              </md-card>
          </md-tab-body>
        </md-tab>

        <md-tab ng-if="config">
          <md-tab-label>
            <widget-translate>
              Question
            </widget-translate>
          </md-tab-label>
          <md-tab-body class="md-padding">
           
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">
                      <widget-translate>Question options</widget-translate>: 
                    </span>
                   </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  
                  <md-input-container class="md-block">
                    <label>
                      <widget-translate>Question</widget-translate>
                    </label>
                    <textarea ng-model="config.state.options.title"  rows="5">
                    </textarea>
                  </md-input-container>

                  <md-input-container class="md-block">
                    <label>
                      <widget-translate>Note</widget-translate>
                    </label>
                    <textarea ng-model="config.state.options.note"  rows="5">
                    </textarea>
                  </md-input-container>

                </md-card-content>
              </md-card>
          
          </md-tab-body>
        </md-tab>

        <section ng-include="config.state.widget.options"></section>

      </md-tabs>
    </md-content>
  </div>


<!-- </div> -->

<!--   <h3   ng-if="disabled" 
        style="color: #f08a24;" 
        class="fi-alert"> 
      Question is disabled. You canot use 'v2.form-question' widgets without "v2.form" widget.
  </h3>


  <div ng-if="globalConfig.designMode && !disabled" class="row">
    
    <div class="columns small-12">



      <div class="row">
        <div class="column small-8">
          <label class="large"> Title
            <textarea 
              placeholder="Title" 
              class="text" 
              rows=2 
              ng-model="config.state.options.title"
              ng-change="markModified()" 
              value="config.state.options.title"
              style="margin: 0.2em 0.5em 0;"
            >
            </textarea>
          </label>
          <label class="large"> Note
            <textarea 
              placeholder="Note" 
              class="text" 
              rows=2 
              ng-model="config.state.options.note"
              ng-change="markModified()" 
              value="config.state.options.note"
              style="margin: 0.2em 0.5em 0;"
            >
            </textarea>
          </label>
        </div>
        <div class='column small-4'>
          <table style="border:none;">
            <tr>
              <td style="border:none;">
                <label class="large">Type:</label>
              </td>
              <td style="border:none;">
                <a   
                    style=" font-size: large;
                            color: #008CBA;
                            "
                    dropdown-toggle="{{'#'+widget.instanceName+'_q_type'}}"
                >
                  <i ng-if="qtype"> 
                    <i class="{{questionTypes[qtype].widget.css}}" style="font-size:x-large;"/>
                    <i class="large">
                      {{questionTypes[qtype].type.title}}
                    </i>
                  </i>

                  <i ng-if="!qtype" style="color: #f08a24;">
                    <i class="fa fa-question" style="font-size:x-large;"/>
                    <i class="large">
                      Select...
                    </i>  
                  </i> 
                
                </a>

                <ul id="{{widget.instanceName+'_q_type'}}" class="f-dropdown">
                 
                  <li>
                    <a ng-click="selectQtype(q.type.value)" ng-repeat="q in questionTypes" style="font-size: inherit; padding: 0.2em 0.5em 0;"> 
                      <i class="{{q.widget.css}}" style="padding-right: 1em;"/>
                      <i>{{q.type.title}}</i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr> 
            <tr>
              <td style="border:none;">
                <label class="large" style="color:{{(config.state.options.required)?accentColor:'';}}"> 
                  Required:
                </label>  
              </td>
              <td style="border:none;>
                <label class="large" style="color:{{(config.state.options.required)?accentColor:'';}}"> 
                  <div  class="switch tiny radius left" 
                        style=" margin: 0;
                                padding: 0;
                                line-height: 1;"
                  >
                    <input  type="checkbox"  
                            id="{{widget.instanceName+'_required'}}"
                            ng-model="config.state.options.required"
                            ng-change="markModified()">
                    <label  for="{{widget.instanceName+'_required'}}"></label>
                  </div>
                </label>
              </td>  
            </tr> 
            <tr>
              <td style="border:none;">
                <label class="large" 
                style="color:{{(config.state.options.showResponsesStat)?'#008CBA':'';}}"> 
                  Show Responses Stat:
                </label>  
              </td>
              <td style="border:none;>
                <label class="large" style="color:{{(config.state.options.showResponsesStat)?'#008CBA':'';}}"> 
                  <div  class="switch tiny radius left" 
                        style=" margin: 0;
                                padding: 0;
                                line-height: 1;"
                  >
                    <input  type="checkbox"  
                            id="{{widget.instanceName+'_showResponsesStat'}}"
                            ng-model="config.state.options.showResponsesStat"
                            ng-change="markModified()">
                    <label  for="{{widget.instanceName+'_showResponsesStat'}}"></label>
                  </div>
                </label>
              </td>  
            </tr> 
          </table>  


        </div>
      </div>

      
      <div class="row">
        <div class="column small-12" ng-include="config.state.widget.options"></div>
      </div>
      
     
      


    </div>  
  </div>   -->




  <div class="row" ng-if="!hidden">
     
    <div class="column small-12 small-centered">
      
      <div class="row">

        <md-content>
                <md-card>

                  <md-card-title>
                    <md-card-title-text>
                      <span   class="md-subhead dj-form-title" 
                              ng-if="config.state.options.required" 
                              style="
                          color:{{(config.state.options.required && !answer.valid) ? accentColor : '#888'}};
                          text-align: right;
                          font-size: 12px;
                          "
                      >
                        <i class="fa fa-asterisk"></i>
                        <widget-translate>Required</widget-translate>
                      </span>
                      <span   class="md-headline dj-form-title" 
                              style="
                        color:{{(config.state.options.required && !answer.valid) ? accentColor : primaryColor}};
                        "
                      >
                        {{config.state.options.title}}
                      </span>
                      <span class="md-subhead dj-form-title" ng-if="config.state.options.note" style="color:#888">
                        {{config.state.options.note}}
                      </span>
                    </md-card-title-text>
                  </md-card-title>

                  <md-card-content>
                    
                    <div ng-include="config.view || config.state.widget.view"></div>
                                                        
                  </md-card-content>
                </md-card> 
          </md-content>
      </div>
    </div>
  </div>
</div>



