.gb_bb~.gb_qb,
.gb_bb~.gb_rb {
  left: auto;
  right: 11.5px
}

.gb_sb {
  outline: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.gb_sb.gb_tb {
  width: 320px
}

.gb_ub,
#gb a.gb_ub.gb_ub,
.gb_vb a,
#gb .gb_vb.gb_vb a {
  color: #36c;
  text-decoration: none
}

.gb_ub:active,
#gb a.gb_ub:active,
.gb_ub:hover,
#gb a.gb_ub:hover,
.gb_vb a:active,
#gb .gb_vb a:active,
.gb_vb a:hover,
#gb .gb_vb a:hover {
  text-decoration: underline
}

.gb_wb {
  margin: 20px;
  white-space: nowrap
}

.gb_xb,
.gb_yb {
  display: inline-block;
  vertical-align: top
}

.gb_sb.gb_tb .gb_yb {
  max-width: 164px
}

.gb_xb {
  margin-right: 20px;
  position: relative
}

.gb_zb {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translateZ(0)
}

.gb_Ab {
  -webkit-background-size: 96px 96px;
  background-size: 96px 96px;
  border: none;
  vertical-align: top;
  height: 96px;
  width: 96px
}

.gb_lb {
  background: rgba(78, 144, 254, .7);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  line-height: 9px;
  position: absolute;
  padding: 7px 0;
  text-align: center;
  width: 96px
}

.gb_zb .gb_lb {
  background: rgba(0, 0, 0, .54)
}

.gb_Bb {
  font-weight: bold;
  margin: -4px 0 1px 0;
  text-overflow: ellipsis;
  overflow: hidden
}

.gb_Db {
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden
}

.gb_vb {
  color: #ccc;
  margin: 6px 0
}

.gb_sb.gb_tb .gb_vb a {
  display: block;
  line-height: 24px;
  margin: 0
}

.gb_sb.gb_tb .gb_vb a:first-child:last-child {
  line-height: normal
}

.gb_sb:not(.gb_tb) .gb_vb a {
  margin: 0 10px
}

.gb_sb:not(.gb_tb) .gb_vb a:first-child {
  margin-left: 0
}

.gb_sb:not(.gb_tb) .gb_vb a:last-child {
  margin-right: 0
}

.gb_yb .gb_Eb {
  background: #4d90fe;
  border-color: #3079ed;
  font-weight: bold;
  margin: 10px 0 0 0;
  color: #fff
}

#gb .gb_yb a.gb_Eb.gb_Eb {
  color: #fff
}

.gb_yb .gb_Eb:hover {
  background: #357ae8;
  border-color: #2f5bb7
}

.gb_Fb.gb_oa {
  border-top: none
}

.gb_Fb {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-color: rgba(0, 0, 0, .2);
  padding: 10px 0;
  width: 100%;
  display: table
}

.gb_Fb .gb_Eb {
  margin: 0 20px;
  white-space: nowrap
}

.gb_Fb>div {
  display: table-cell;
  text-align: right
}

.gb_Fb>div:first-child {
  text-align: left
}

.gb_Fb .gb_Hb {
  display: block;
  text-align: center
}

.gb_Ib .gb_qb {
  border-bottom-color: #fef9db
}

.gb_Jb {
  background: #fef9db;
  font-size: 11px;
  padding: 10px 20px;
  white-space: normal
}

.gb_Jb b,
.gb_ub {
  white-space: nowrap
}

.gb_Mb {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-top-color: rgba(0, 0, 0, .2);
  max-height: 230px;
  overflow: auto
}

.gb_Mb.gb_tb {
  max-height: 170px
}

.gb_Mb.gb_tb.gb_Nb {
  max-height: 124px
}

.gb_Ob {
  border-top: 1px solid #ccc;
  border-top-color: rgba(0, 0, 0, .2);
  display: block;
  padding: 10px 20px;
  position: relative;
  white-space: nowrap
}

.gb_Pb .gb_Ob:focus .gb_Qb {
  outline: 1px dotted #fff
}

.gb_Ob:hover {
  background: #eee
}

.gb_Ob[selected="true"] {
  overflow: hidden
}

.gb_Ob[selected="true"]>.gb_Rb {
  background-color: rgba(117, 117, 117, .9)
}

.gb_Ob[selected="true"]>.gb_Sb {
  display: block;
  position: absolute;
  z-index: 2
}

.gb_Sb::-moz-focus-inner {
  border: 0
}

.gb_Sb {
  background-color: transparent;
  border: none;
  color: #fff;
  display: none;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 36px;
  min-width: 86px;
  text-align: center;
  top: 16px;
  width: auto
}

.gb_Ob[selected="true"]>.gb_Sb:focus {
  background-color: rgba(0, 0, 0, .24);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: 0
}

.gb_Ob[selected="true"]>.gb_Sb:hover,
.gb_Ob[selected="true"]>.gb_Sb:focus:hover {
  background-color: #565656;
  -webkit-border-radius: 2px;
  border-radius: 2px
}

.gb_Ob[selected="true"]>.gb_Sb:active {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #212121
}

.gb_Tb {
  left: 0;
  margin-left: 5%
}

.gb_Ub {
  margin-right: 5%;
  right: 0
}

.gb_Ob:first-child,
.gb_Vb:first-child+.gb_Ob {
  border-top: 0
}

.gb_Vb {
  display: none
}

.gb_Wb {
  cursor: default
}

.gb_Wb:hover {
  background: transparent
}

.gb_Xb {
  border: none;
  vertical-align: top;
  height: 48px;
  width: 48px
}

.gb_Qb {
  display: inline-block;
  margin: 6px 0 0 10px
}

.gb_sb.gb_tb .gb_Qb {
  max-width: 222px
}

.gb_Wb .gb_Xb,
.gb_Wb .gb_Qb {
  opacity: .4
}

.gb_Zb {
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden
}

.gb_Wb .gb_Zb {
  color: #666
}

.gb_0b {
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden
}

.gb_1b {
  color: #666;
  font-style: italic
}

.gb_Rb {
  background-color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1
}

.gb_Sb:hover {
  background-color: rgba(100, 100, 100, 0.4)
}

.gb_2b {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-top-color: rgba(0, 0, 0, .2);
  display: block;
  padding: 10px 20px
}

.gb_3b {
  background-position: -244px 0;
  display: inline-block;
  margin: 1px 0;
  vertical-align: middle;
  height: 25px;
  width: 25px
}

.gb_N .gb_3b::before {
  left: -244px;
  top: 0
}

.gb_4b {
  color: #427fed;
  display: inline-block;
  padding: 0 25px 0 10px;
  vertical-align: middle;
  white-space: normal
}

.gb_2b:hover .gb_4b {
  text-decoration: underline
}

.gb_Fb .gb_Eb:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-color: #c6c6c6;
  color: #222;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
  background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
  background-image: linear-gradient(top, #fff, #f8f8f8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f8f8f8')
}

.gb_re {
  padding: 4px 0;
  text-align: right
}

.gb_re>* {
  padding: 0;
  color: rgba(255, 255, 255, 0.70);
  line-height: 12px
}

.gb_re div:first-child {
  color: white
}

sentinel {}
