<div>
    <h5 style="color:#03A9F4; font-size:x-large;">
		<i class="fa fa-info-circle"></i>
		{{title}}
	</h5>
    <div class="row" style="margin:0; height:50%; overflow: auto;">
       <pre style="	    font-size: 0.7rem;
					    /* font-weight: bold; */
					    line-height: 1em;
					    height: 40em;
					    background: #f9f9f9;
					    color: #333;
					    border: 1px solid #999;"
    	>
       	{{text}}
       </pre>
    </div>
</div>
<a class="close-reveal-modal" ng-click="close()">&#215;</a>
