<style>
.action {
  font-size: medium;
  color: #008cba;
  font-weight: bold;
}

.sectionHeader {
  margin-top: 1em;
  border-bottom: 2px solid #999999;
  padding-left: 1em;
}

</style>




<style>

.no-error div.md-errors-spacer {
    display: none;
}

.with-placeholder {
    margin: 1em 0;
} 

td md-input-container {
  margin:0;
}

td input[type="text"] {
  margin:0;
}


button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background: transparent; 
}

button:hover, button:focus, .button:hover, .button:focus {
  color:inherit;
  background: inherit;
}

:focus {
  border:none;
  outline: none;
}

/*.autocomplete-custom-template .item-title {
  display: block;
  line-height: 2;
}*/
.autocomplete-custom-template .item-title md-icon,
.autocomplete-custom-template .item-title img,
.md-toast-content img
 {
    height: 36px;
    width: 36px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
}

.form-toast {
    /*background: #e7e7e7 !important;*/
    opacity: 0.9;
}

md-content.md-default-theme, md-content {
  background: transparent;
}

span.dj-form-title {
  line-height: 1.2em;
  text-align: justify;
}

span.md-subhead.dj-form-title {
    margin-left: 3em;
}

img.dialog.md-avatar {
    margin: 8px 16px;
    border-radius: 50%;
    box-sizing: content-box;
    width: 40px;
    height: 40px;
}

.editor {
      width: 100%;
      height: 12em;
      margin: 0;
      font-size: 1em;
      line-height: 0.9;
      border: 1px solid #e9e9e9;
      margin-bottom: 1em;
  }

.highlighter {
    line-height: 1;
}

</style>




<div class="row" ng-controller="FormController" style="padding: 0.5rem; margin: 0;">

  <div ng-cloak ng-show="globalConfig.designMode">
    
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        
        <md-tab>
          <md-tab-label>
            <widget-translate>General</widget-translate>
          </md-tab-label>  
          <md-tab-body class="md-padding">
           
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">
                      <widget-translate>Form</widget-translate>: 
                      {{widget.form.id}}
                    </span>
                    <span class="md-subhead">
                        <widget-translate>Created at</widget-translate> {{formatDate(widget.form.createdAt)}}
                        <br/>
                        <widget-translate>Updated at</widget-translate> {{formatDate(widget.form.updatedAt)}}
                    </span>
                  </md-card-title-text>
                 
                  <md-input-container>
                    <label>
                      <widget-translate>Locale</widget-translate>
                    </label>
                    <md-select 
                      ng-model="widget.form.config.locale"
                      ng-change="i18n.setLocale(widget.form.config.locale)"
                    >
                      <md-option value="en">
                        <img src="/img/en.png" class="md-avatar"/>
                        English
                      </md-option>
                      <md-option value="uk">
                        <img src="/img/uk.png" class="md-avatar"/>
                        Українська
                      </md-option>
                    </md-select>
                  </md-input-container> 

                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                  <md-button>
                    <widget-translate>
                      Import
                    </widget-translate>  
                  </md-button>
                  <md-button  class="md-warn"
                              ng-click="cloneForm()"
                              ng-if="pageLocation != widget.form.metadata.app_url.value"
                  >
                    <widget-translate>
                      Clone
                    </widget-translate>  
                  </md-button>
                </md-card-actions>
                <md-card-content  ng-if="pageLocation != widget.form.metadata.app_url.value"
                                  md-colors="::{color: 'default-warn'}"
                >
                  <h3 md-colors="::{color: 'default-warn'}">
                  <md-icon  md-font-icon="fa-exclamation-triangle" 
                            style="font-family: FontAwesome;"
                            class="md-warn"
                  >
                  </md-icon>
                  <widget-translate>Page and Form mismatch</widget-translate>
                  </h3>
                  <p class="md-warn">
                    <widget-translate>Current app url is</widget-translate>
                     <a src="{{pageLocation}}" target="_blank">{{pageLocation}}</a>
                    <br/>
                    <widget-translate>But form metadata is</widget-translate> 
                    <a src="{{ ( widget.form.metadata.app_url.value ) ? widget.form.metadata.app_url.value : '#' }}">
                      {{ ( widget.form.metadata.app_url.value ) ? widget.form.metadata.app_url.value : 'empty' }}
                    </a>.  
                    <br/>
                    <widget-translate>
                      For clone form click
                    </widget-translate>.
                  </p> 
                </md-card-content>
              </md-card>
           


          </md-tab-body>
        </md-tab>

        

        <md-tab>
          <md-tab-label>
            <widget-translate>Metadata</widget-translate>
          </md-tab-label>  
          <md-tab-body class="md-padding">
            <form name="formMetadata">
              <md-card>
                  
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">
                        <widget-translate>Form metadata</widget-translate>
                      </span>
                    </md-card-title-text>
                  </md-card-title>

                  <md-card-content>

                  

                  <table style="width:100%; border:none; margin:0 auto; background: transparent;">
                    <tr>
                      <th class="md-tab" style="    border: none;
                                                    width: 30%;
                                                    padding: 0;
                                                    float:none;
                      ">
                        <widget-translate>Key</widget-translate>
                      </th>
                      <th  class="md-tab" style="   border: none;
                                                    width: 65%;
                                                    padding: 0;
                                                    float: none;
                      ">
                        <widget-translate>Value</widget-translate>
                      </th>  
                    </tr>
                    <tr ng-repeat="m in metadataTools.metadata">
                      <td style="border:none;">
                        <md-input-container class="md-block no-error">
                          <input type="text" ng-model="m.key" ng-value="m.key" ng-disabled="true">
                        </md-input-container>
                      </td>
                      <td style="border:none;">
                        <md-input-container class="md-block no-error">
                          <input type="text" ng-model="m.value" ng-value="m.value" ng-disabled="!m.editable">
                        </md-input-container>
                      </td>
                      <td ng-if="!m.required" style="width:2em; border:none;">
                         <button   
                                  ng-click="metadataTools.delete(m.key)" 
                                  class="md-button md-icon-button md-mini md-accent">
                          <md-icon md-font-icon="fa-times" style="font-family: FontAwesome;"></md-icon>        
                        </button> 
                      </td>  
                    </tr>
                    <tr>
                      <td style="border:none;">
                        <md-input-container class="md-block with-placeholder">
                          <label>
                            <widget-translate>
                              Metadata key
                            </widget-translate>  
                          </label>
                          <input ng-model="textFields.key" ng-value="textFields.key" name="metadataKey" required>

                          <div ng-messages="formMetadata.metadataKey.$error">
                            <div ng-message="required">Metadata key is required.</div>
                            <div ng-message="doublicate">Metadata key shuld be unique.</div>
                          </div>  
                        
                        </md-input-container>
                      </td>
                      <td style="border:none;">
                        <md-input-container class="md-block with-placeholder">
                          <label>
                            <widget-translate>
                              Metadata value
                            </widget-translate>
                          </label>
                          <input ng-model="textFields.value" ng-value="textFields.value">
                        </md-input-container>
                      </td>
                      <td style="width:2em; border:none;">
                        <button   ng-click="metadataTools.add(textFields.key, textFields.value)" 
                                  ng-disabled="!metadataTools.valid(formMetadata.metadataKey)"
                                  class="md-button md-fab md-mini md-primary"
                                  >
                          <md-icon md-font-icon="fa-plus" style="font-family: FontAwesome;"></md-icon>        
                        </button> 
                      </td>  
                    </tr>  
                  </table>
              
                </md-card-content>
              
              </md-card>
            </form>

            

          </md-tab-body>
        
        </md-tab>

        <md-tab>
          <md-tab-label>
            <widget-translate>Access</widget-translate>
          </md-tab-label>
            
          <md-tab-body class="md-padding">

            <md-card>
                
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">
                      <widget-translate>Form Access</widget-translate>
                    </span>
                  </md-card-title-text>
                </md-card-title>

                <md-card-content>
                  <md-switch  ng-model="widget.form.config.access.enabled" 
                              ng-change="changeAccess()"
                              class="md-primary"
                  >
                    <widget-translate>Access</widget-translate>
                    &nbsp;
                    <widget-translate ng-if="widget.form.config.access.enabled">was opened</widget-translate>
                    &nbsp;
                    <widget-translate ng-if="!widget.form.config.access.enabled">was closed</widget-translate>
                    &nbsp;
                    <span ng-if="widget.form.config.access.lastNotificatedAt">
                      {{timeAgo(widget.form.config.access.lastNotificatedAt)}}
                    </span>  
                  </md-switch>

                  <md-input-container>
                    <label>
                      <widget-translate>Access mode</widget-translate>
                    </label>
                    <md-select ng-model="widget.form.config.access.type">
                      <md-option ng-repeat="t in accessTypes" 
                          ng-click="setAccessType(t.type)" 
                          ng-value="t.type"
                      >
                        {{('WIDGET.V2.FORM.'+t.title) | translate}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <p ng-if="widget.form.config.access.type == 'invited'">
                    <widget-translate>
                      ManageInvitedRespondents
                    </widget-translate>.
                  </p>  

                </md-card-content>  
            </md-card>    


          
          </md-tab-body>
        </md-tab>

        <md-tab ng-if="widget.form.config.access.type == 'invited'">
          <md-tab-label>
            <widget-translate>Invited Respondents</widget-translate>
          </md-tab-label>  
            <md-tab-body class="md-padding">
              <form name="formInvite">
                <md-card>
                  
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">
                        <widget-translate>  
                          Invited Respondents
                        </widget-translate>  
                      </span>
                    </md-card-title-text>
                  </md-card-title>

                  <md-card-content layout="row">
                    
                    <div flex-gt-sm="50" layout="column" flex layout-margin>
                      
                        <md-toolbar layout="row" class="md-hue-3" ng-if="widget.form.config.access.users.length > 0">
                          <div class="md-toolbar-tools">
                            <span>
                              <widget-translate>Total</widget-translate>: 
                              {{widget.form.config.access.users.length}}
                            </span>
                          </div>
                          <span flex></span>
                          <md-button ng-click="userUtils.selectAll()" style="font-size: 12px;">
                            <widget-translate>Select All</widget-translate>
                          </md-button>
                          <md-button ng-click="userNotification()" style="font-size: 12px;">
                            <widget-translate>Notify</widget-translate>
                          </md-button>
                        </md-toolbar>

                        <md-content style="
                                    max-height: 21em;
                                    border:{{(widget.form.config.access.users.length > 0) ? '1px solid #e9e9e9' : 'none'}};
                        ">

                          <md-list class="md-dense" flex ng-if="widget.form.config.access.users.length > 0">
                            
                            <md-list-item class="md-3-line" ng-repeat="u in widget.form.config.access.users">
                              
                              <md-checkbox class="md-primary" ng-model="u.selected">
                              </md-checkbox>
                              
                              <div layout-align="space-around" style="margin:auto;" ng-if="u.find">
                                <md-progress-circular class="md-hue-2" md-diameter="20px">
                                </md-progress-circular>
                              </div>

                              <md-icon  ng-if="!u.photo && !u.find"
                                        md-font-icon="fa-user-circle"
                                        style="font-family: FontAwesome; 
                                        font-size: 2.5em;
                                        margin-right: 0.25em;">
                              </md-icon>

                                
                              <img ng-if="u.photo && !u.find" src="{{u.photo}}" class="md-avatar" />
                              
                              <div class="md-list-item-text" layout="column">
                                <h3 style="font-size: large;">
                                  {{(u.name)? u.name : u.email}}
                                </h3>
                                <h4>
                                  <a href="mailto:{{u.email}}" target="_blank">{{u.email}}</a>
                                </h4>  
                                <h4 ng-if="u.apikey">apikey: {{(u.apikey)?u.apikey : 'not used'}}</h4>
                                <h4 ng-if="u.notifiedAt">Notified at: {{timeAgo(u.notifiedAt)}}</h4>
                              </div>

                              <md-icon  ng-if="!u.id"
                                        class="md-primary"
                                        ng-click="userUtils.editInvitedUser(u)"
                                        md-font-icon="fa-address-card"
                                        style="font-family: FontAwesome; margin-right: 1em;">
                              </md-icon>

                              <md-icon  ng-click="userUtils.deleteInvitedUser(u.email)"  
                                        md-font-icon="fa-times"
                                        class="md-accent"
                                        style="font-family: FontAwesome;">
                              </md-icon>
                            
                            </md-list-item>
                          </md-list>
                        </md-content>
                          <div layout="row">
                                                        
                              <md-autocomplete flex required
                                  md-input-name="respondentEmail"
                                  md-selected-item="invitedUser"
                                  md-search-text="respondentEmail"
                                  md-items="cu in userUtils.getUsers(formInvite.respondentEmail.$viewValue)" 
                                  md-item-text="cu.email"
                                  md-search-text-change="userUtils.validInvitedUser(respondentEmail,formInvite.respondentEmail)"
                                  md-selected-item-change="userUtils.validInvitedUser(invitedUser,formInvite.respondentEmail)"
                                  md-floating-label="{{'WIDGET.V2.FORM.RespondentEmailAddress' | translate}}"
                                  md-clear-button="true"
                                  md-no-cache
                                  md-menu-class="autocomplete-custom-template"
                              >
                                <md-item-template style="max-width:200px;">
                                  <span class="item-title">
                                    <img src="{{cu.photo}}" class="md-avatar" />
                                    {{cu.email}}

                                  </span>
                                </md-item-template>
                                <div  ng-messages="formInvite.respondentEmail.$error" 
                                      ng-if="formInvite.respondentEmail.$touched"
                                >
                                  <div ng-message="email">
                                    <widget-translate>
                                      Invalid email address
                                    </widget-translate>.
                                  </div>
                                  <div ng-message="invited">
                                    <widget-translate>
                                      Respondent already invited
                                    </widget-translate>.
                                  </div>
                                </div>
                              </md-autocomplete>
                        <button   ng-click="userUtils.addInvitedUser()" 
                                  ng-disabled="!userUtils.invitedUserIsValid || userUtils.userIsInvited"
                                  class="md-button md-fab md-mini md-primary"
                                  style="margin: 1em 0.5em;"
                                  >
                          <md-icon md-font-icon="fa-user-plus" style="font-family: FontAwesome;"></md-icon>        
                        </button>
                      </div>  
                        
                        
                     
                    </div>
                    

                    <div flex-gt-sm="50" flex layout="column"  layout-align="top" layout-margin ng-if="widget.form.config.access.users.length > 0">
                      <md-toolbar layout="row" class="md-hue-3">
                          <div class="md-toolbar-tools">
                            <widget-translate>Invitation template editor</widget-translate>
                          </div>
                          <span flex></span>
                      </md-toolbar>

                      <md-input-container class="md-block no-error">
                        <label>
                          <widget-translate>Subject</widget-translate>
                        </label>
                        <input ng-model="widget.form.config.access.notificationSubject">
                      </md-input-container>
                      
                      <div style="
                          font-size: 12px;
                          color: rgba(0,0,0,0.54);
                          margin: 0 1em;
                          display: block;
                          font-weight: normal;
                          line-height: 1.5;
                      ">

                        <widget-translate>Message</widget-translate>
                      </div>

                      <!-- <md-content style="max-height: 25em;"> -->
                        
                        <div 
                              class="editor" 
                              ng-ace 
                              data="widget.form.config.access.notificationTemplate" 
                              options="templateEditorOptions">
                        </div>
                        <div style="
                            font-size: 12px;
                            color: rgba(0,0,0,0.54);
                            margin: 0 1em;
                            display: block;
                            font-weight: normal;
                            line-height: 1.5;
                        ">
                          <widget-translate>Message Preview</widget-translate>
                        </div>
                        <div  style="
                                max-height: 14em; 
                                overflow: auto;
                                border: 1px solid #e9e9e9;
                                padding: 2em;" 
                                ng-bind-html = "messagePreview"
                        >
                        </div>  

                      <!-- </md-content>   -->
                        
                    </div>  

                  </md-card-content>  
                </md-card>
              </form>
            </md-tab-body>
          
        </md-tab>  

        <md-tab>
          <md-tab-label>
            <widget-translate>Responses</widget-translate>
          </md-tab-label>  
            <md-tab-body class="md-padding">
              <md-card>
                
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">
                      <widget-translate>Responses</widget-translate>
                    </span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                  <md-button ng-click="exportResponses()">
                    <widget-translate>Export CSV</widget-translate>
                  </md-button>
                </md-card-actions>

                <md-card-content>
                        <table  style="
                                        border: none;
                                        margin: 0px auto;
                                        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 
                                                    0 1px 1px 0 rgba(0,0,0,.14), 
                                                    0 2px 1px -1px rgba(0,0,0,.12);
                                      " 
                                ng-if="responseDynamic"
                        >
                        <tr>
                          <td   style="
                                      border: none;
                                      color: {{disableColor}};
                                      text-align: center;
                                      font-size: larger;" 
                                colspan="{{responseDynamic.length}}"
                          >
                            <widget-translate>Total</widget-translate>: {{responsesStat.length}}
                          </td>
                        </tr>    
                        <tr>
                          <td ng-repeat="v in responseDynamic track by $index" 
                            style="border: none; 
                                width:2em;
                                "
                          >
                              <div style="font-size: xx-small;
                                                  text-align: center;
                                                  height:1em;
                                                  line-height: 1em;
                                                  color:{{disableColor}};
                                                  "
                                      >
                  {{(responseDynamic[$index].value>0) ? ((100*responseDynamic[$index].value).toFixed(0)+'%') :' '}}
                                    </div>
                          </td> 
                        </tr>
                        <tr>
                          <td ng-repeat="v in responseDynamic track by $index" 
                            style="border: none; 
                                width:2em;
                                "
                          > 
                            <div style="height:5em;">
                                <div      
                                       
                                          style=" 
                                background: {{primaryColor}};
                                border:0.05rem solid {{(responseDynamic[$index].value>0)?primaryColor:disableColor}};
                                                  position:relative;
                                                  height:{{5*responseDynamic[$index].height}}em;
                                                  top:{{5*(1-responseDynamic[$index].height)}}em; 
                                                "
                                      >
                                      </div>
                                  </div>  
                          </td>
                        </tr>
                        <tr>
                          <td ng-repeat="v in responseDynamic track by $index" 
                            style="border: none; 
                                width:2em;
                                "
                          >    
                            <div  
                                      style=" 
                                              text-align: center;
                                              line-height: 1em;
                                              color:{{disableColor}}; 
                                              font-size: xx-small;
                                            "
                                    >
                                      {{responseDynamic[$index].title}}
                                    </div>
                          </td>
                        </tr>   
                      </table>
                </md-card-content>
              </md-card>  
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-content>
  </div> 
</div>   



