<hr/>
<div class="row">
  <div class="column small-12">
    <h4>Alternatives</h4>
    <div class="row">
      <div ui-tree="treeOptions" class="column small-11 small-centered">
        <table ui-tree-nodes ng-model="alternatives" style="border: none;">
          <tr ui-tree-node ng-repeat="i in alternatives" ng-click="cselect(i.id)" style="display:table-row;">
            <td style=" border: none; 
                          font-size: initial;
                          text-align: center;">
              <i ui-tree-handle class="fa fa-ellipsis-v right"></i>
            </td>
            <td style="width: 100%;border:none">
              <input type="text" placeholder="Your alternative..." ng-model="i.title" ng-disabled="_click != i.id" focused="_click != i.id" style="margin: 0.12em 0;">
            </td>
            <td style="border: none; font-size: x-large; text-align: center;">
              <a class="fa fa-times" ng-click="delete(alternatives,$index)" style="   color: #aaa;
                          font-size:1.2em;"></a>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="border: none;">
              <input  ng-model="textFields.alternative" 
                      type="text " 
                      placeholder="Your alternative... "
                      style="width: 100%; padding: 0.3em;"
              >
            </td>
            <td style="border: none;  ">
              <button
                class="large left "
                ng-click="addPMAlternative(alternatives) "
                ng-disabled="!textFields.alternative "
                style=" background: #5f8ab9; margin: 0; border-radius: 6px; padding: 0.12em 0.25em; "
              >
                <i class=" fa fa-plus-square "/> 
                
              </button>
            </td>  
          </tr> 
        </table>  
      </div>  
    </div>  
  
  </div>  

</div>

<hr/>
