<div class="row" style="margin:1em 0 0">
  <div class="column small-12 small-centered">

    <table style="border:none; margin: 0 auto;">
      <tr>
        <td   style=" border:none;
                      border-bottom: 1px solid #999;
                      border-right: 1px solid #999;
                      font-size:large;"
        >
          <span style="margin:0 8em;">
          </span>
        </td>
        <td   style=" border:none;
                      border-bottom: 1px solid #999;
                      text-align: center;
                      font-size:large;" 
              ng-repeat="p in properties">
          {{p.title}}
        </td>  
      </tr>
      <tr ng-repeat="e in entities">
        <td   style=" border:none;
                      border-right: 1px solid #999;
                      font-size:large;"
        >
          {{e.title}}
        </td>
        <td ng-repeat="p in properties" style="border:none;">
          <div  ng-if="!config.state.options.disables[e.id][p.id]" 
                style="width: 2em;
                      height: 2em;
                      border: 3px solid;
                      text-align: center;
                      font-size: large;
                      padding: 0.25em;
                      border-radius: 0.3em;
                      cursor: pointer;
                      color: {{colorUtility.influenceColor(config.getValue(e.id, p.id))}};
                      background-color: {{colorUtility.influenceBg(config.getValue(e.id, p.id))}};
                      border-color: {{colorUtility.influenceBorder(config.getValue(e.id, p.id))}};
                            "
                dropdown-toggle = "{{'#'+widget.instanceName+'_v_'+e.id+'_'+p.id}}"            
          >
            {{ config.getValue(e.id, p.id) }}
          </div>

          <ul id="{{widget.instanceName+'_v_'+e.id+'_'+p.id}}" 
              class="f-dropdown" 
              style="width: max-content;"
          >
            <li ng-repeat="v in config.state.options.ordinals.values">
              <a 
                ng-click="config.setValue(e.id, p.id, v.value)" 
                style=" font-size: large;
                        background:{{colorUtility.influenceBg(v.value)}};
                        color:{{colorUtility.influenceColor(v.value)}};
                        border-bottom: 1px solid #999;"
              >
                {{v.value}} : {{v.title}}
              </a>
            </li>
          </ul>  
          <div  ng-if="config.state.options.disables[e.id][p.id]" 
                style=" width: 1.8rem;
                        height: 1.8rem;"
          >
            &nbsp;
          </div>  
        </td>
        <td style="border:none;" ng-if="config.state.options.showResponsesStat && rstat">
          <div style="height: 3em; margin: 1em 0; width:{{properties.length}}em; ">
            <div  class="left" ng-repeat="p in properties" style="height: 4em; width:1em;">
              <div ng-repeat="v in config.state.options.ordinals.values"
                   style="
                      background: {{colorUtility.influenceBg(v.value)}};
                      /*border:1px solid #e7e7e7;*/
                      outline: 1px solid #e7e7e7;
                      outline-offset: -1px;
                      width:1em;
                      height:{{3*rstat[e.id][p.id][v.value]}}em;
                      /*display: inline-block;*/
                   " 
              >
              </div>
            </div>
          </div>  
        </td>  
      </tr>  
    </table>  

  </div>  
</div>

    <!-- <pre>
      {{answer | json}}
    </pre>  

 -->











<!-- 











<div class="row" style="margin:1em 0 0">
  <div class="column small-11 small-centered">

    <table style="width:100%">
      <tr>
        <td style="font-size: large;
                    color: #5b6d81;
                    border:none;
                    max-width:25em;
                    text-align: center;"
        >
            &nbsp;
        </td>
        <td style="font-size: large;
                    color: #5b6d81;
                    border:none;
                    text-align: center;" 
            ng-repeat="e in effects"
        >
          {{e.title}}
        </td>  
      </tr>
      
      <tr ng-repeat="f in factors">
        <td style="font-size: large;
                    color: #5b6d81;
                    border:none;
                    max-width:25em;
                    text-align: center;"
        >
          {{f.title}}
        </td>  
        <td style="border:none;"
          ng-repeat="e in effects"
        >
          <div ng-if="!config.callback.disabled(f.id, e.id)">
            <a>  
            <div  class="column small-4 small-centered" 
                  dropdown-toggle="{{'#'+widget.instanceName+'_v_'+f.id+'_'+e.id}}"
                  ng-style="influenceStyle(f.id, e.id)"
                  style=" padding: 0.5em 0;
                          text-align: center;
                          border-radius: 8px;
                          font-size: large;"
            >
                  {{
                    config.callback.getValue(f.id, e.id)
                  }}
            </div>

          </a>

          <ul id="{{widget.instanceName+'_v_'+f.id+'_'+e.id}}" 
              class="f-dropdown" 
              style="width: max-content;"
          >
            <li>
              <a 
                ng-click="config.callback.setValue(f.id, e.id, v.value)" 
                ng-style="scaleStyle(v.value)" 
                ng-repeat="v in config.options.ordinals.values" 
                style=" font-size: large;
                        border-bottom: 1px solid #999;"
              >
                {{v.value}} : {{v.title}}
              </a>
            </li>
          </ul>
        </div>
        <div ng-if="config.callback.disabled(f.id, e.id)">
          <div  class="column small-4 small-centered" 
                  style=" padding: 0.5em 0;
                          text-align: center;
                          border-radius: 8px;
                          font-size: x-large;
                          color:#e7e7e7"
            >
              <i class="fa fa-times"/>
            </div>  
        </div>    


        </td>  
        
      </tr>  
        
    </table>  

  </div>  
</div> 
 -->
<!-- <pre>{{answer | json}}</pre> -->