
 <table style="border:none; margin: 0 auto;">
      <tr>
        <td   style=" border:none;
                      border-bottom: 1px solid #999;
                      border-right: 1px solid #999;
                      font-size:14px;"
        >
          <span style="margin:0 8em;">
          </span>
        </td>
        <td   style=" border:none;
                      border-bottom: 1px solid #999;
                      text-align: center;
                      font-size:14px;" 
              ng-repeat="p in properties">
          {{p.title}}
        </td>  
      </tr>
      <tr ng-repeat="e in entities">
        <td   style=" border:none;
                      border-right: 1px solid #999;
                      font-size:14px;"
        >
          {{e.title}}
        </td>
        <td ng-repeat="p in properties" style="border:none; text-align: center;">
          <md-menu ng-if="!config.state.options.disables[e.id][p.id]">
            <md-button ng-click="$mdMenu.open($event)" 
                        class="md-raised {{(config.getValue(e.id, p.id) == undefined) ? '' : 'md-primary'}}"
                      style="
                        border: 1px solid {{disableColor}};
                        border-radius: 4px;
                        color:
              {{(config.state.options.decoration.useColors) ? colorUtility.influenceColor(config.getValue(e.id, p.id)) : ''}};
                        background-color:
              {{(config.state.options.decoration.useColors) ? colorUtility.influenceBg(config.getValue(e.id, p.id)) : ''}};
                      "
            >
              {{(config.state.options.decoration.showValues) ? config.getValue(e.id, p.id): ' '}}  
              &nbsp;
              {{(config.state.options.decoration.showTitles) ? config.getTitle(e.id, p.id) : ' '}}
            </md-button>
            <md-menu-content width="3" style="max-height: fit-content;">
               <md-menu-item ng-repeat="v in config.state.options.ordinals.values">
                <md-button  ng-click="config.setValue(e.id, p.id, v.value)"
                            md-menu-align-target
                >
                  <md-icon  md-font-icon="fa-square" 
                            style=" font-family: FontAwesome;
                                    color:{{colorUtility.influenceBg(v.value)}};
                                    font-size: 24px;
                                    min-width: min-content;
                                    min-height: min-content;
                                    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);"
                                
                  >
                  </md-icon>
                  {{v.value}} : {{v.title}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>    

          
          <div  ng-if="config.state.options.disables[e.id][p.id]">
            &nbsp;
          </div>  
        </td>
        <td style="border:none;" ng-if="config.state.options.showResponsesStat && rstat">
          <div style="  height: 5em; 
                        margin: 1em 0; 
                        width:{{properties.length}}em;
                        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
                        "
          >
            <div  class="left" ng-repeat="p in properties" style="height: 4em; width:1em;">
              <div ng-repeat="v in config.state.options.ordinals.values"
                   style="
                      background: {{colorUtility.influenceBg(v.value)}};
                      /*border:1px solid #e7e7e7;*/
        outline: {{(config.isResponse(e.id,p.id,v.value))?'1px solid #F44336':'1px solid #e7e7e7'}};
                      outline-offset: -2px;
                      width:1em;
                      height:{{5*rstat[e.id][p.id][v.value]}}em;
                      /*display: inline-block;*/
                   " 
              >
              </div>
            </div>
          </div>  
        </td>  
      </tr>  
    </table>  