 <md-tab>
    <md-tab-label>
      <widget-translate>
        Entities/Properties
      </widget-translate>
    </md-tab-label>
    <md-tab-body class="md-padding">
     
        <md-card>
          
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <widget-translate>Entities/Properties</widget-translate> 
              </span>
             </md-card-title-text>
          </md-card-title>

          <md-card-actions layout="row" layout-align="left center">
          
          <md-switch  ng-model="config.state.options.useOneList" 
                        ng-change="config.setMode()"
                        class="md-primary"
            >
                <span>
                  <widget-translate>Use one list</widget-translate>
                </span>
          </md-switch>
            
            <md-button  class="md-primary md-raised" 
                  ng-click="config.swap()"
                    ng-disabled="config.state.options.useOneList"
                    style="height: 1.5em; margin-left:2em;"
          >
              <widget-translate>Swap</widget-translate>
            </md-button>  
          
          </md-card-actions>
            

          <md-card-content>

            <div layout="row">
              <div layout="column" flex class="md-padding">
                
                <md-toolbar layout="row" class="md-hue-3" ng-if="entities.length > 0">
                  <div class="md-toolbar-tools">
                    <widget-translate>Available entities</widget-translate>
                  </div>
                  <span flex></span>
                  <md-button ng-click="selectAllAlt(entities)" style="min-width:10em;">
                    <widget-translate>Select All</widget-translate>
                  </md-button>
                  <md-button ng-click="deleteAlt(entities)" style="min-width:10em;">
                    <widget-translate>Delete</widget-translate>
                  </md-button>
                </md-toolbar>

                <div  ui-tree="treeOptions">
                  <md-list ui-tree-nodes ng-model="entities">
                    <md-list-item ui-tree-node ng-repeat="a in entities">
                      <md-checkbox class="md-primary" ng-model="a._selected">
                      </md-checkbox>
                      
                      <md-icon  ui-tree-handle 
                                md-font-icon="fa-ellipsis-v"
                                style="font-family: FontAwesome; 
                                font-size: 1.2em;
                                margin-right: 0.25em;"
                      >
                      </md-icon>
                      
                      <div class="md-list-item-text" flex>
                        <md-input-container class="md-block no-error">
                          <textarea   ng-model="a.title"
                                      rows="1"
                                      style="margin-bottom: 0;" 
                          >
                          </textarea>
                        </md-input-container>  
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
            
                  <div layout="row" layout-align="left center">

                    <md-input-container flex class="md-block no-error">
                     <label>
                       <widget-translate>New entity...</widget-translate>
                     </label>  
                     <textarea   ng-model="textFields.entity" 
                                rows="1" 
                                class="no-error"
                                style="margin-bottom: 0;"
                     >
                     </textarea>  
                    </md-input-container>

                    <md-button   ng-click="addPMAlternative(entities,'entity')"
                            ng-disabled="!textFields.entity" 
                            class="md-raised md-primary"
                    >
                      <widget-translate>Add</widget-translate>        
                    </md-button>
                  </div>
                </div>
                
                <div  layout="column" 
                    flex
                    class="md-padding"
                    ng-if="!config.state.options.useOneList"
                >
                
                <md-toolbar layout="row" class="md-hue-3" ng-if="properties.length > 0">
                  <div class="md-toolbar-tools">
                    <widget-translate>Available properties</widget-translate>
                  </div>
                  <span flex></span>
                  <md-button ng-click="selectAllAlt(properties)" style="min-width:10em;">
                    <widget-translate>Select All</widget-translate>
                  </md-button>
                  <md-button ng-click="deleteAlt(properties)" style="min-width:10em;">
                    <widget-translate>Delete</widget-translate>
                  </md-button>
                </md-toolbar>

                <div  ui-tree="treeOptions">
                  <md-list ui-tree-nodes ng-model="properties">
                    <md-list-item ui-tree-node ng-repeat="a in properties">
                      <md-checkbox class="md-primary" ng-model="a._selected">
                      </md-checkbox>
                      
                      <md-icon  ui-tree-handle 
                                md-font-icon="fa-ellipsis-v"
                                style="font-family: FontAwesome; 
                                font-size: 1.2em;
                                margin-right: 0.25em;"
                      >
                      </md-icon>
                      
                      <div class="md-list-item-text" flex>
                        <md-input-container class="md-block no-error">
                          <textarea   ng-model="a.title"
                                      rows="1"
                                      style="margin-bottom: 0;" 
                          >
                          </textarea>
                        </md-input-container>  
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
            
                  <div layout="row" layout-align="left center">

                    <md-input-container flex class="md-block no-error">
                     <label>
                       <widget-translate>New property...</widget-translate>
                     </label>  
                     <textarea   ng-model="textFields.property" 
                                rows="1" 
                                class="no-error"
                                style="margin-bottom: 0;"
                     >
                     </textarea>  
                    </md-input-container>

                    <md-button   ng-click="addPMAlternative(properties,'property')"
                            ng-disabled="!textFields.property" 
                            class="md-raised md-primary"
                    >
                      <widget-translate>Add</widget-translate>        
                    </md-button>
                  </div>
                </div>
              </div>  
          
          </md-card-content>
        </md-card>
    
    </md-tab-body>
  </md-tab>

  <md-tab ng-if="(entities.length > 0) && (properties.length > 0)">
    <md-tab-label>
      <widget-translate>
        Disables
      </widget-translate>
    </md-tab-label>
    <md-tab-body class="md-padding">
     
        <md-card>
          
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                <widget-translate>Disables</widget-translate> 
              </span>
             </md-card-title-text>
          </md-card-title>

          <md-card-actions layout="row" layout-align="left center">
          <span flex></span>
          <md-button  class="md-primary" 
                  ng-click="config.setAllDisabled()""
                    style="height: 1.5em; margin-left:0.5em;"
          >
              <widget-translate>All Disabled</widget-translate>
            </md-button>

            <md-button  class="md-primary" 
                  ng-click="config.setAllEnabled()"
                    style="height: 1.5em; margin-left:0.5em;"
          >
              <widget-translate>All Enabled</widget-translate>
            </md-button>

            <md-button  class="md-primary" 
                  ng-click="config.setReverseDisabled()"
                    style="height: 1.5em; margin-left:0.5em;"
          >
              <widget-translate>Reverse</widget-translate>
            </md-button>

            <md-button  class="md-primary" 
                  ng-click="config.setDiagonalDisabled()"
                    style="height: 1.5em; margin-left:0.5em;"
          >
              <widget-translate>Diagonal</widget-translate>
            </md-button>
          
          </md-card-actions>

               

          <md-card-content>

            <table style="border:none; margin: 0 auto; width:100%">
            <tr>
              <td   style=" border:none;
                            border-bottom: 1px solid #999;
                            border-right: 1px solid #999;"
              >
                <span style="margin:0 8em;">
                </span>
              </td>
              <td   style=" border:none;
                            color:#555;
                            border-bottom: 1px solid #999;
                            text-align: center;
                            max-width: 10em;
                            font-size: 14px;" 
                    ng-repeat="p in properties">
                {{p.title}}
              </td>  
            </tr>
            <tr ng-repeat="e in entities">
              <td   style=" border:none;
                            color:#555;
                            border-right: 1px solid #999;
                            font-size: 14px;"
              >
                {{e.title}}
              </td>
              <td ng-repeat="p in properties" style="border:none; text-align: center;">
                
                  <div ng-click="config.setDisable(e.id, p.id)"
                    style="    width: 2em;
                      height: 2em;
                      margin: 0.25em auto;
                      border: 2px solid #9E9E9E;
                      text-align: center;
                      cursor:pointer;"
                  >
                  <i  class="fa fa-times"   
                    ng-if="config.state.options.disables[e.id][p.id]"
                    style=" font-size: x-large;
                    color: #9E9E9E;
                    margin-top:-2px"
                  />
                </div> 
                 
              </td>
            </tr>  
          </table> 
      </md-card-content>
    </md-card>
  </md-tab-body>
</md-tab>        
<md-tab>
  <md-tab-label>
    <widget-translate>
      Scale
    </widget-translate>
  </md-tab-label>
  <md-tab-body class="md-padding">
   
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              <widget-translate>Scale</widget-translate> 
            </span>
           </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row">
          <div flex="50" layout="column">
            <div layout="row">
              
              <md-input-container>
                <label>
                  <widget-translate>Min</widget-translate>
                </label>
                <input  type="number" 
                        ng-model="config.state.options.ordinals.range.min"
                        max={{config.state.options.ordinals.range.max}}
                        ng-change="config.generateValues()"
                >
              </md-input-container>

              <md-input-container>
                <label>
                  <widget-translate>Max</widget-translate>
                </label>
                <input  type="number" 
                    ng-model="config.state.options.ordinals.range.max"
                    min={{config.state.options.ordinals.range.min}}
                    ng-change="config.generateValues()"
                >
              </md-input-container>
            </div>

            <div>


              <md-switch  ng-model="config.state.options.decoration.useColors" 
                          class="md-primary"
              >
                <widget-translate>Use colors</widget-translate>
              </md-switch>
              <md-switch  ng-model="config.state.options.decoration.showValues" 
                          class="md-primary"
              >
                <widget-translate>Show values</widget-translate>
              </md-switch>
              <md-switch  ng-model="config.state.options.decoration.showTitles" 
                          class="md-primary"
              >
                <widget-translate>Show titles</widget-translate>
              </md-switch>

            </div>




            <div layout="row" ng-if="config.state.options.decoration.useColors">
              <md-input-container style="width:200px;">
                <label>
                  <widget-translate>Palette</widget-translate>
                </label>
                <md-select  ng-model="config.state.options.colors.paletteIndex"
                            ng-change="config.setPalette()"
                >
                  <md-option  ng-repeat="p in colorUtility.palettes track by $index"
                              style="height: 24px;" 
                              ng-value="$index">
                    
                        <md-icon  ng-repeat="c in p"
                                  md-font-icon="fa-pause"
                                  style="
                                    font-family: FontAwesome;
                                    font-size: 0px;
                                    background: #d7191c;
                                    min-width: 14px;
                                    min-height: 10px;
                                    height: 10px;
                                    outline: 1px solid #e7e7e7;
                                    background:{{c}};
                                  "
                        ></md-icon>

                  </md-option>
                </md-select>
              </md-input-container>

              <md-button  class="md-primary md-raised" 
                          ng-click="reversePallete()"
                          ng-disable="config.state.options.colors.pallete.length == 0"
                          style=" height: 1.5em;
                                  margin-top: 1em;"
              >
                <widget-translate>Reverse</widget-translate>
              </md-button>  
            </div>  
            
            <md-input-container ng-if="config.state.options.decoration.useColors">
              <label>
                  <widget-translate>
                    Opacity
                  </widget-translate>  
              </label>  
              <md-slider-container ng-disabled="readonly">
                <md-slider  flex="30" 
                            ng-model="config.state.options.colors.opacity" 
                            md-discrete 
                            aria-label="Master"
                            min="0"
                            max="100" 
                            step="1"
                            class="md-primary"
                >
                  
                </md-slider>
                <input  type="number" 
                    ng-model="config.state.options.colors.opacity" 
                    ng-change="setOpacity(config.state.options.colors.opacity)" 
                    style="width:4em;"
                >
              </md-slider-container>
            </md-input-container>

          </div>
          <div flex="50">
            
            <h5>
              <widget-translate>Scale Values</widget-translate>
            </h5>
            <table style="border:none;">
              <tr ng-repeat="v in config.state.options.ordinals.values">
                <td style="width:30px;">
                  <md-icon  md-font-icon="fa-square" 
                            style="font-family: FontAwesome;
                                   color:{{colorUtility.getColor(
                                    config.state.options.colors.pallete,
                                    config.state.options.colors.opacity,
                                    config.state.options.ordinals.range,
                                    v.value,
                                    false,
                                    ((config.state.options.decoration.useColors)? undefined : primaryColor))}};
                                    font-size: 24px;
                                    min-width: min-content;
                                    min-height: min-content;
                                    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
                                  "
                                    
                  >
                  </md-icon>
                </td>
                <td style="border:none;">
                  <label class="large">
                    {{v.value}}
                  </label>  
                </td>
                
                <td style="border:none;">
                  <input  type="text" 
                      ng-model="v.title"
                      style="margin: 0; height: 2em;"
                  >
                </td>
              </tr> 
            </table>  
          </div>              

        </md-card-content>  
      </md-card>
  
  </md-tab-body>
</md-tab>
