
    <table style="border:none; margin: 0 auto; width:100%">
      <tr>
        <td   style=" border:none;
                      border-bottom: 1px solid #999;
                      border-right: 1px solid #999;"
        >
          <span style="margin:0 8em;">
          </span>
        </td>
        <td   style=" border:none;
                      color:#555;
                      border-bottom: 1px solid #999;
                      text-align: center;
                      max-width: 10em;
                      font-size: 14px;" 
              ng-repeat="p in properties">
          {{p.title}}
        </th>  
      </tr>
      <tr ng-repeat="e in entities">
        <td   style=" border:none;
                      color:#555;
                      border-right: 1px solid #999;
                      font-size: 14px;"
        >
          {{e.title}}
        </td>
        <td ng-repeat="p in properties" style="border:none; text-align: center;">
          <div ng-if="!config.state.options.disables[e.id][p.id]" >

            <md-checkbox  ng-checked="config.getValue(e.id,p.id)"
                          ng-click="config.setValue(e.id,p.id)"
                          class="md-primary"
                          style="margin: auto;"
              >
            </md-checkbox>

          </div>
          <div  ng-if="config.state.options.disables[e.id][p.id]">
            &nbsp;
          </div>  
        </td>
        <td style="border:none;" ng-if="config.state.options.showResponsesStat && rstat">

          <table style="margin: 1em; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);">
            <tr>
              <td ng-repeat="p in properties" 
                style="border: none; 
                    width:2em;
                    "
              >
                  <div style="font-size: xx-small;
                                      text-align: center;
                                      height:1em;
                                      line-height: 1em;
                                      color:{{(config.isResponse(e.id,p.id))? accentColor: disableColor}};"
                          >
                            {{(100*rstat[e.id][p.id]).toFixed(0)}}%
                        </div>
              </td> 
            </tr>
            <tr>
              <td ng-repeat="p in properties" 
                style="border: none; 
                    width:2em;
                    "
              > 
                <div style="height:5em;">
                    <div       
                              style=" 
                              background:{{(config.isResponse(e.id,p.id))? accentColor: primaryColor}};
                              border:0.05rem solid {{(config.isResponse(e.id,p.id))? accentColor: disableColor}};
                                      position:relative;
                                      height:{{5*rstat[e.id][p.id]}}em;
                                      top:{{5*(1-rstat[e.id][p.id])}}em; 
                                    "
                          >
                          </div>
                      </div>  
              </td>
            </tr>
          </table>
        </td>
      </tr>  
    </table>  

