<div class="row" style="margin:1em 0 0">
  <div class="column small-12 small-centered">

    <table style="border:none; margin: 0 auto;">
      <tr>
        <td   style=" border:none;
                      border-bottom: 1px solid #999;
                      border-right: 1px solid #999;"
        >
          <span style="margin:0 8em;">
          </span>
        </td>
        <th   style=" border:none;
                      border-bottom: 1px solid #999;
                      text-align: center;" 
              ng-repeat="p in properties">
          {{p.title}}
        </th>  
      </tr>
      <tr ng-repeat="e in entities">
        <th   style=" border:none;
                      border-right: 1px solid #999;"
        >
          {{e.title}}
        </th>
        <td ng-repeat="p in properties" style="border:none;">
          <div 
              style="width:60%; margin: 0.25em auto;" 
              ng-if="!config.state.options.disables[e.id][p.id]"
          >
          <input 
            type="checkbox" 
            class="checkbox"
            ng-checked="config.getValue(e.id,p.id)" 
            id="{{widget.ID+'_'+e.id+'_'+p.id+'_ch'}}"
            ng-click="config.setValue(e.id,p.id)"
          >
          <label for="{{widget.ID+'_'+e.id+'_'+p.id+'_ch'}}" style="color:white;">.</label>
          </div>
          <div  ng-if="config.state.options.disables[e.id][p.id]" 
                style=" width: 1.8rem;
                        height: 1.8rem;"
          >
            &nbsp;
          </div>  
        </td>  
      </tr>  
    </table>  

  </div>  
</div>

    <!-- <pre>
      {{answer | json}}
    </pre>  

 -->