<div class="row" style="margin:1em 0 0">
  <div class="column small-12 small-centered">

    <table style="border:none; margin: 0 auto;">
      <tr>
        <td   style=" border:none;
                      border-bottom: 1px solid #999;
                      border-right: 1px solid #999;"
        >
          <span style="margin:0 8em;">
          </span>
        </td>
        <td   style=" border:none;
                      border-bottom: 1px solid #999;
                      text-align: center;
                      font-size:large;" 
              ng-repeat="p in properties">
          {{p.title}}
        </td>  
      </tr>
      <tr ng-repeat="e in entities">
        <td   style=" border:none;
                      border-right: 1px solid #999; font-size:large;"
        >
          {{e.title}}
        </td>
        <td ng-repeat="p in properties" style="border:none;">
          <div 
              style="width:60%; margin: 0.25em auto;" 
              ng-if="!config.state.options.disables[e.id][p.id]"
          >
          <input 
            type="radio" 
            class="radio"
            id="{{widget.ID+'_'+e.id+'_'+p.id+'_ch'}}"
            name="{{'radio_'+widget.ID+'_'+e.id}}"
            ng-change="config.setValue(e.id,p.id)"
            ng-model="answerMap[e.id]"
            value="{{p.id}}"
          >
          <label for="{{widget.ID+'_'+e.id+'_'+p.id+'_ch'}}" style="color:white;">.</label>
          </div>
          <div  ng-if="config.state.options.disables[e.id][p.id]" 
                style=" width: 1.8rem;
                        height: 1.8rem;"
          >
            &nbsp;
          </div>  
        </td>

                <td style="border:none;" ng-if="config.state.options.showResponsesStat && rstat">

          <table style="margin: 1em; box-shadow: 0 0.1em 0.5em 0 #607D8B;">
            <tr>
              <td ng-repeat="p in properties" 
                style="border: none; 
                    width:2em;
                    "
              >
                  <div style="font-size: xx-small;
                                      text-align: center;
                                      height:1em;
                                      line-height: 1em;
                                      color:{{(config.isResponse(e.id,p.id))?'#FF5722':'#777'}};
                                      "
                          >
                            {{(100*rstat[e.id][p.id]).toFixed(0)}}%
                        </div>
              </td> 
            </tr>
            <tr>
              <td ng-repeat="p in properties" 
                style="border: none; 
                    width:2em;
                    "
              > 
                <div style="height:5em;">
                    <div       
                              style=" 
                              background:{{(config.isResponse(e.id,p.id))?'#FF5722':'#ffc107'}};
                              border:0.05rem solid {{(config.isResponse(e.id,p.id))?'#FF5722':'#999'}};
                                      position:relative;
                                      height:{{5*rstat[e.id][p.id]}}em;
                                      top:{{5*(1-rstat[e.id][p.id])}}em; 
                                    "
                          >
                          </div>
                      </div>  
              </td>
            </tr>
          </table>
        </td>
      </tr>  
    </table>  

  </div>  
</div>

   <!--  <pre>
      {{answer | json}}
    </pre>   -->

