        
        <md-tab>
          <md-tab-label>
            <widget-translate>
              Alternatives
            </widget-translate>
          </md-tab-label>
          <md-tab-body class="md-padding">
           
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">
                      <widget-translate>Alternatives</widget-translate> 
                    </span>
                   </md-card-title-text>
                </md-card-title>
                <md-card-content>

                    <md-switch  ng-model="config.state.options.addEnabled" 
                                class="md-primary"
                                style="padding-bottom: 2.5em;"
                    >
                      <div layout="column">
                        <span>
                          <widget-translate>
                            Respondent can add new Variants
                          </widget-translate>
                        </span>  
                      </div>
                    </md-switch>
                    
                    <div ng-if="config.state.options.addEnabled">
                      <md-switch  ng-model="config.state.options.showUserInfo" 
                                class="md-primary"
                                style="padding-bottom: 2.5em;"
                      >
                        <div layout="column">
                          <span>
                            <widget-translate>Show user info</widget-translate>
                          </span>
                           <span style="font-size: 12px; color: #999;" ng-if="config.state.options.showUserInfo">
                              <widget-translate>Info about respondent will be displayed</widget-translate>
                           </span>  
                        </div>
                      </md-switch>

                      <md-switch  ng-model="config.state.options.userCollaboration" 

                                class="md-primary"
                                style="padding-bottom: 2em;"
                      >
                        <div layout="column">
                          <span>
                            <widget-translate>User collaboration</widget-translate>
                          </span>
                          <span style="font-size: 12px; color: #999;">
                            {{'WIDGET.V2.FORM.QUESTION.'+((config.state.options.userCollaboration) ? 'Respondent will collaborate': 'Respondent will isolate') | translate}}
                          </span>    
                        </div>
                      </md-switch>
                    </div>  

                    <md-toolbar layout="row" class="md-hue-3" ng-if="alternatives.length > 0">
                      <div class="md-toolbar-tools">
                        <widget-translate>Available responses</widget-translate>
                      </div>
                      <span flex></span>
                      <md-button ng-click="selectAllAlt(alternatives)" style="min-width:10em;">
                        <widget-translate>Select All</widget-translate>
                      </md-button>
                      <md-button ng-click="deleteAlt(alternatives)" style="min-width:10em;">
                        <widget-translate>Delete</widget-translate>
                      </md-button>
                    </md-toolbar>
                    <div  ui-tree="treeOptions">
                      <md-list ui-tree-nodes ng-model="alternatives">
                            
                        <md-list-item ui-tree-node ng-repeat="a in alternatives">
                          
                          <md-checkbox class="md-primary" ng-model="a._selected">
                          </md-checkbox>
                          
                          <md-icon  ui-tree-handle 
                                    md-font-icon="fa-ellipsis-v"
                                    style="font-family: FontAwesome; 
                                    font-size: 1.2em;
                                    margin-right: 0.25em;"
                          >
                          </md-icon>
                          
                          <div class="md-list-item-text" flex>
                            <md-input-container class="md-block no-error">
                              <textarea   ng-model="a.title"
                                          rows="1"
                                          style="margin-bottom: 0;" 
                              >
                              </textarea>
                            </md-input-container>  
                          </div>

                          <div  class="md-list-item-text" 
                                ng-if="config.state.options.showUserInfo && a.user" 
                                flex="20"
                                style="margin-left: 2em;"
                          >
                            <md-icon  ng-if="!a.user.photo"
                                      md-font-icon="fa-user-circle"
                                      style="font-family: FontAwesome; 
                                      font-size: 2em;
                                      margin-right: 0.25em;">
                            </md-icon>

                                                
                            <img ng-if="a.user.photo" src="{{a.user.photo}}" class="md-avatar" />
                            <span style="font-size: 10px;">
                              {{(a.user.name) ? a.user.name : a.user.email}}
                            </span>
                          </div>

                            <div style="width:10em; margin-left:1em;" ng-if="config.state.options.showResponsesStat && rstat">
                              <div  style="
                                      background:{{(config.isResponse(a.id)) ? accentColor : primaryColor}};
                                      border:0.05rem solid {{(config.isResponse(a.id)) ? accentColor : disableColor}};
                                      width:{{5*percent(rstat[a.id])}}em;
                                    "
                                    class="left" 
                              >
                                &nbsp;
                              </div>
                              <div style="    margin: 0 0 0 0.5em;
                                              color: {{(config.isResponse(a.id)) ? accentColor : disableColor}};
                                              font-size: x-small;"
                                   class="left"           
                              >
                                {{ (percent(rstat[a.id])*100).toFixed(0) }}%
                                
                              </div>  
                            </div>
             
                        </md-list-item>
                    </md-list>
                  </div>
                  
                     <div layout="row" layout-align="left center">

                        <md-input-container flex class="md-block no-error">
                          <label>
                            <widget-translate>New alternative...</widget-translate>
                          </label>  
                          <textarea   ng-model="textFields.alternative" 
                                      rows="1" 
                                      class="no-error"
                                      style="margin-bottom: 0;"
                          >
                          </textarea>  
                        </md-input-container>

                        <md-button   ng-click="addPMAlternative(alternatives)"
                                  ng-disabled="!textFields.alternative" 
                                  class="md-raised md-primary"
                        >
                          <widget-translate>Add</widget-translate>        
                        </md-button>
                      </div>

                </md-card-content>
              </md-card>
          
          </md-tab-body>
        </md-tab>
