<hr/>
<h4> Range options</h4>
<div class="row">
	<div class="column small-6 left" style="width:auto;">
		<label class="large">
			Min
		</label>
		<input 	type="number" 
	   			ng-model="config.state.options.range.min"
	   			max="{{config.state.options.range.max}}"
	   	>
	</div>
	<div class="column small-6 left" style="width:auto;">
		<label class="large">
			Max
		</label>
		<input 	type="number" 
	   			ng-model="config.state.options.range.max"
	   			min="{{config.state.options.range.min}}"
	   			
	   	>
	</div>
	<div class="column small-6 left" style="width:auto;">
		<label class="large">
			Step
		</label>
		<input 	type="number" 
	   			ng-model="config.state.options.step"
	   			
	   	>
	</div>
</div>		