
<div class="row" style="margin:1em 0 0;">
  <div class="column small-10 small-centered">
      
      <div class="row">
        <div  class=" left" 
              ng-repeat="v in config.state.options.ordinals.values"
              style=" padding:0 0.25em; 
                      cursor:pointer;    
                      font-size: large;
                      text-align: center;
                      font-weight: bold;
                      color:{{colorUtility.scaleColor(v.value)}}"

              ng-click="config.setValue(v.value)"
        > 
          
            <div style=" color:{{colorUtility.scaleFontColor(v.value)}};
                        font-size:small;
                        "
            >{{v.value}}</div>
            <div style="
                  font-size:xx-large; 
                  font-weight:bold;
                  width:1em;
                  height:0.5em;
                  background: {{colorUtility.scaleColor(v.value)}};
                  border:1px solid #999" 
            >
              &nbsp;
            </div>
           
           <!-- <i style="font-size:xx-large; font-weight:bold;" class="fa fa-pause"></i><br/> -->
           
           <div style=" color:{{colorUtility.scaleFontColor(v.value)}}; 
                        font-size:xx-small;">
            {{v.title}}
            </div>
        </div>
        
      </div>
   </div>  
</div>  

<!-- <pre>{{answer | json }}</pre>  -->