
<div class="row" style="margin:1em 0 0;">
  <div class="column small-10 small-centered">
    <table style="width:100%; border:none;">
      <tr>
        <td style="border:none;">
          <div  class=" left" 
                ng-repeat="v in config.state.options.ordinals.values"
                style=" padding:0 0.25em; 
                        cursor:pointer;    
                        font-size: large;
                        text-align: center;
                        font-weight: bold;
                        color:{{colorUtility.scaleColor(v.value)}}"

                ng-click="config.setValue(v.value)"
          > 
            
              <div style=" color:{{colorUtility.scaleFontColor(v.value)}};
                          font-size:small;
                          "
              >{{v.value}}
            </div>
              <div style="
                    font-size:xx-large; 
                    font-weight:bold;
                    width:1em;
                    height:0.5em;
                    background: {{colorUtility.scaleColor(v.value)}};
                    border:1px solid #999" 
              >
                &nbsp;
              </div>
             
             <!-- <i style="font-size:xx-large; font-weight:bold;" class="fa fa-pause"></i><br/> -->
             
             <div style=" color:{{colorUtility.scaleFontColor(v.value)}}; 
                          font-size:xx-small;">
              {{v.title}}
              </div>
          </div>
        </td>
        <td style="border:none; width:50%" ng-if="config.state.options.showResponsesStat && rstat">

          <table style="box-shadow: 0 0.1em 0.5em 0 #607D8B;">
            <tr>
              <td ng-repeat="v in config.state.options.ordinals.values" 
                style="border: none; 
                    width:2em;
                    "
              >
                  <div style="font-size: xx-small;
                                      text-align: center;
                                      height:1em;
                                      line-height: 1em;
                                      color:{{(config.isResponse(v.value))?'#FF5722':'#777'}};"
                          >
                            {{(100*rstat[v.value]).toFixed(0)}}%
                        </div>
              </td> 
            </tr>
            <tr>
              <td ng-repeat="v in config.state.options.ordinals.values" 
                style="border: none; 
                    width:2em;
                    "
              > 
                <div style="height:5em;">
                    <div       
                              style=" 
                              background:{{(config.isResponse(v.value))?'#FF5722':'#ffc107'}};
                      border:0.05rem solid {{(config.isResponse(v.value))?'#FF5722':'#999'}};
                                      position:relative;
                                      height:{{5*rstat[v.value]}}em;
                                      top:{{5*(1-rstat[v.value])}}em; 
                                    "
                          >
                          </div>
                      </div>  
              </td>
            </tr>
            <tr>
              <td ng-repeat="v in config.state.options.ordinals.values" 
                style="border: none; 
                    width:2em;
                    "
              >    
                <div  
                          style=" 
                                  text-align: center;
                                  height:1em;
                                  line-height: 1em;
                                  color:{{(config.isResponse(v.value))?'#FF5722':'#777'}}; 
                                  font-size: xx-small;
                                "
                        >
                          {{v.value}}
                        </div>
              </td>
            </tr>   
          </table>
        </td>
      </tr>  
    </table>
      
     
   </div>  
</div>  

<!-- <pre>{{answer | json }}</pre>  -->